##############################
## Folders                  ##
##############################
model
graphs
processed
save
log

 
##############################
## Netbeans conf            ##
##############################
