##############################
## Folders                  ##
##############################
model
graphs
processed
save

 
##############################
## Netbeans conf            ##
##############################
