##############################
## Folders                  ##
##############################
model
graphs
processed
save
log
data

 
##############################
## Netbeans conf            ##
##############################
